/* Responsive Media Queries for screens larger than Mobile */

@media screen and (min-width: 620px) {
	h1 {
		font-size: 52px;
		margin-bottom: 10px;
	}
	
	.deck {
		width: 610px;
		min-height: 630px;
		padding: 25px;
	}
	
	.deck .card {
		height: 125px;
		width: 125px;
	}
}

@media screen and (min-width: 820px) {
	.deck {
		width: 780px;
		min-height: 790px;
		padding: 32px;
	}
	
	.deck .card {
		height: 150px;
		width: 150px;
	}
}